<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="error-h1">You enterd wrong format!</h1>
        <h2 class="error-h2">Oops! It seems there was an error in the date format you entered. You inputted <strong>'{{ date }}'</strong>, but the expected format is <strong>'YYYY-MM-DD'</strong>. Don't worry! You can easily correct it. Simply click the back button and re-enter with the currect format. Let's find those tunes!</h2>
    </div>
</body>
</html>